#network {
    width: 100vw;
    height: 90vh;
    background-color: #111;
    border: 2px solid #00ffcc;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
  }
  
  #network:hover {
    box-shadow: 0 0 20px #00ffcc;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    color: #00ffe7;
    text-shadow: 0 0 10px #00ffee;
  }
  